@charset "UTF-8";
body {
  font-family: 'Wix Madefor Text', sans-serif;
}


.logo-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 로고 이미지 비율 만큼 상단 패딩을 추가합니다. */
}

.logo-container img {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* 이미지 비율 유지 */
}

/*로그인 창 크기, 가운데 정렬*/
 .form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form {
  width: 100%;
  height: 100%;
}

/* sign in/up 가로로 정렬*/
.form-header {
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.form-header > div {
  flex: 1;
  color: #f1575b;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}


/*로그인 입력칸 모양 형성*/
.form .form-elements input {
  width:100%;
  padding:10px;
  font-size:16px;
  margin:5px 0px;
  border-radius:10px;
  box-sizing:border-box;
  border:1px solid #222;
  background:#f5f5f5;
}

/*sign up 모양 형성*/
.form .form-elements button {
  width:100%;
  padding:10px;
  font-size:16px;
  font-weight:600;
  margin-top:5px;
  border-radius:10px;
  background:#f1575b;
  color:#ffffff;
  cursor:pointer;
  border:none;
  outline:none;
}


.window {
  background: #B993D6;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
  background: linear-gradient(to right, #8CA6DB, #B993D6);
}

