*{
    font-family: 'Nanum Gothic Coding', monospace;    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

nav{
    font-size: 12pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}
nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}
nav ul li {
	position: relative;
}
nav a{
    line-height: 50px;
    height: 50px;
}
nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.one {
	float: right;
}

nav li:last-child{
    border-right: 0;
    float: right;
    }
nav a:hover, nav a:active{
}
nav a#pull{
    display: none;
}
  html {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }

  ul{
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
  }
  li{
    /*position: relative;*/
    display: inline-block;
  }
  .menu a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
  }
  .menu a:hover{
    /*color: #597812;*/
    color: #FFD400;
    font-weight:normal;
  }
  .menu {
   width: 5000px;
   height: 50px;
   text-align: center;
   max-width: 100%;
   background-position: center;
   background-size: cover;
   background-color: #333333;color: white;
   position: absolute;z-index: 1;
 }
 
 .menu ul li:last-child {
  margin-left: 0;
  margin-right: auto;
  position: relative;
}

/*.header{
    display: flex;
    width:1280px;
    margin:auto;
    height: 86px;
}


.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 300px);
    color: #000;

}

.nav > li{
    margin-left: 84px;
}

.nav > li > a{
    color: #000;
}*/

.intro_text{
    width:100%;
    margin:150px auto 150px auto;
    margin-top: 0%;
    text-align: center;
}

h1{
    font-size:48px;
    font-weight: 100;
}


.contents1{
    font-size: 20px;
    font-weight: lighter;
}

.contents1_bold{
    font-size:18px;
    font-weight: bold;
}

/*.intro > .logo{
    padding-left: 520px;
    padding-top: 200px;
    padding-bottom: 0%;
 
}*/

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 높이 조정 필요 */
  }
  
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }

.intro_text > h1,
.intro_text > h4{
    padding-top: 0%;
    margin-top: 30px;
    color: rgb(8, 0, 255);
}

.amount{
    display: flex;
    width: 1280px;
    background: gray;
    margin:auto;
}

.amount > li {
    flex: 1;
    height: 500px;
    background: #f4f3f3;
}

.amount > li > div {
    text-align: center;
}

.amount a:hover{
    /*color: #597812;*/
    color: #FFD400;
    font-weight:normal;
}
/* main_text0 ABOUT */

.main_text0{
    width:100%;
    height: 601px;
    margin-top: -132px;
    background: #fff;

}

.main_text0 > h1{
    margin-top: 250px;
    text-align:center;

}

.main_text0 > .contents1{
    margin-top: 40px;
    text-align: center;

}

.icons{
    display: flex;
    width: 1200px;
    height: 302;
    background: #fff;
    margin: auto;
}

.icons > li{
    flex:1;
    background: rgb(203, 203, 201);
    margin-top: 49px;
    height: 302px;
    text-align: center;
}

.icons > li > .icon_img{
    margin-top: 50px;

}

.icons > li:not(:last-child) {
    margin-left: 20px;
    margin-right: 20px;
}

.icons .contents1{
    width: 180px;
}

.icons .contents2{
    width: 190px;
    margin-top: 30px;
    /* margin-left: 100px; */
    margin: auto;
    letter-spacing: -1px;
}

.icons .contents1_bold{
    margin-top: 25px;
    margin-bottom: 25px;
}

.more{
    width: 100x;
    height: 30px;
    background: rgb(221, 255, 255);
    color: #000;
    font-size: 12px;
    line-height: 30px;
    margin-top: 25px;
}

/* main_text1 */

.main_text1{
    width: 100%;
    height: 200px;
}

.main_text1 > h1{
    padding-top: 50px;
    text-align: center;
}

.main_text1 > .contents1{
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 30px;
}


.service {
    padding-top: 100px;
    width: 1280px;
    display:flex;
    margin: auto;
    height: auto;
    background: rgb(255, 255, 255);
}

.main_text1 > .contents2 > h2{
    text-align: center;
    width: auto;
    height: auto;
}

.main_text1 > ul > li img {
    flex: 1;
    align-items: center;
    margin-right: 60px;
    margin-left: 45px;

}


/* contact */


.service > .contents2 {
  padding: 20px;
}


/* main_text2 */
.main_text2 {
  width:100%;
  height:600px;
  text-align: center;
  padding-top: 250px;
  background-image: url("image/contact.png");
}

.main_text2 > h1{
    margin-top: 100px;
  color: #000;
}

.main_text2 > .contents1 {
    padding-top: 30px;
}

.main_text2 > ul {
  display: flex;
  height: 400px;
  padding-top:80px;

}

.icons > li:not(:last-child) {
    margin-left: 20px;
}

.main_text2 > ul > li{
    margin-left: 370px;
}

.main_text2 > ul > li img{
  flex: 1;
  align-items: center;
    margin-right: 60px;
    margin-left: 45px;
}


.more2{
  width:220px;
  height:40px;
  border: 1px solid #fff;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
  margin:16px auto;
}


/* footer */

.footer{
    padding-top: 100px;
  display: flex;
  background: #1f1f1f;
  padding-bottom:70px;
  text-align: center;
}
.footer > div:first-child {
  flex:3;
  text-align: left;
  color: #fff;
}
.footer > div:last-child {
  flex:9;
  color: #fff;
  text-align: center;

}