body {
    font-family: 'Nanum Gothic Coding', monospace;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  }
  
  h3 {
    text-align: center;
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="date"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Nanum Gothic Coding', monospace;
  }
  
  input[type="submit"],
  input[type="reset"] {
    display: inline-block;
    width: 45%;
    padding: 10px;
    margin-top: 10px;
    background-color: #062579;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #45a049;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  