html, body {
  font-family: 'NanumSquareNeo-Variable';
  margin: 0;
  padding: 0;
  height: 100vh;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

nav{
  font-size: 12pt;
  font-family: 'NanumSquareNeo-Variable';
  position: relative;
}

nav ul{
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

nav a{
  line-height: 50px;
  height: 50px;
}

nav li a{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav li:last-child a{
  border-right: 0;
}

nav a:hover, nav a:active{
}

nav a#pull{
  display: none;
}

html {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #536edd;
}

li{
  display: inline-block;
}

.menu a{
  color: #ffffff;
  padding: 14.5px 16px;
  text-decoration: none;
}

.menu a:hover{
  color: #FFD400;
  font-weight:normal;
}

span li{
  font-size: 20pt;
  color: #ffffff;
  padding: 14.5px 16px;
  /*text-shadow: -1px 0px #FFFFFF, 0px 1px #FFFFFF, 1px 0px #FFFFFF, 0px -1px #FFFFFF;*/
}

.menu {
  width: 5000px;
  height: 90px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  /*background-color: #ffffff;color: white;*/
  position: absolute;z-index: 1;
}

.logo-container {
  position: relative;
  width: 100%;
  padding-top: 80%; /* 로고 이미지 비율 만큼 상단 패딩을 추가합니다. */
}

.logo-container img {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  /*object-fit: contain; /* 이미지 비율 유지 */
}

/*로그인 창 크기, 가운데 정렬*/
.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form {
  width: 100%;
  height: 100%;
}

/* sign in/up 가로로 정렬*/
.form-header {
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.form-header > div {
  flex: 1;
  color: #271285a7;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}


/*로그인 입력칸 모양 형성*/
.form .form-elements input {
  font-family: 'NanumSquareNeo-Variable';
  width:100%;
  padding:10px;
  font-size:16px;
  margin:5px 0px;
  border-radius:10px;
  box-sizing:border-box;
  border:1px solid #222;
  background:#ffffff;
}

/*sign up 모양 형성*/
.form .form-elements button {
  width:100%;
  padding:10px;
  font-size:16px;
  font-weight:600;
  margin-top:5px;
  border-radius:10px;
  background:#4b8cee;
  color:#ffffff;
  cursor:pointer;
  border:none;
  outline:none;
}


.window {
  background: #d5f2fc;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
} 