
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>jin_dry</title>
        <link rel="stylesheet" href="/css/reservation.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="intro">
            <div class="menu">
                <nav class="clearfix">
                    <ul class="clearfix">
                        <li style="float: left;"><br>
                            &nbsp;<img src="/img/logo1.png" width="80px" height="80px">
                        </li>
                        <br><br>
                        <span style="text-shadow: -1px 0 #000000, 0 1px #24199c, 1px 0 #24199c, 0 -1px #24199c;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li class="one" style="text-align: center;"><a href="/member/main">메인페이지로 돌아가기</a></li>
                        </span>
                        <li class="two" style="float: right;"><a href="/member/logout" style="font-size: 20px;">로그아웃&nbsp;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3> 건조기 예약 시스템 - 진리관 </h3>
        <br>
        <form method="get">
            <fieldset>
                <legend> 일자 선택 및 시간 선택 </legend>
                <br>
                <input type="date" name="reservation_date"/>
                <br>
                <br>
                <button type="button">01:00</button>
                <button type="button">02:00</button>
                <button type="button">03:00</button>
                <button type="button">04:00</button>
                <button type="button">05:00</button>
                <button type="button">06:00</button>
                <button type="button">07:00</button>
                <button type="button">08:00</button>
                <button type="button">09:00</button>              
                <button type="button">10:00</button>
                <button type="button">11:00</button>
                <button type="button">12:00</button>
                <button type="button">13:00</button>
                <button type="button">14:00</button>
                <button type="button">15:00</button>
                <button type="button">16:00</button>
                <button type="button">17:00</button>
                <button type="button">18:00</button>
                <button type="button">19:00</button>
                <button type="button">20:00</button>
                <button type="button">21:00</button>
                <button type="button">22:00</button>
                <button type="button">23:00</button>
                <button type="button">24:00</button>
                <br>
                <br>
                <br>
                <label for="choice"> 건조기 선택: </label>
                <input type="radio" name="op" id="choice" value="dry1"/>건조기 1
                <input type="radio" name="op" id="choice" value="dry2"/>건조기 2
                <input type="radio" name="op" id="choice" value="dry3"/>건조기 3
                <input type="radio" name="op" id="choice" value="dry3"/>건조기 4
                <input type="radio" name="op" id="choice" value="dry3"/>건조기 5
                <input type="radio" name="op" id="choice" value="dry3"/>건조기 6
            </fieldset>
            <br>
            <br>
            <input type="submit" value="예약"/>
            <input type="reset" value="취소"/>            
        </form>
    </body>
</html>