
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <!--/memeber/login 으로 post요청을 보낼 폼을 정의함-->
    <form action="/member/login" method="post">
      <div class="intro">
        <div class="menu">
            <nav class="clearfix">
                <ul class="clearfix">
                    <li style="float: left;"><br>
                        &nbsp;<img src="/img/logo1.png" width="80px" height="80px">
                    </li>
                    <br>
                    <br>
                    <span style="text-shadow: -1px 0 #000000, 0 1px #24199c, 1px 0 #24199c, 0 -1px #24199c;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li class="one" style="text-align: center;">메인페이지로 돌아가기</li>
                    </span>
                    <li class="two" style="float: right;"><a href="#" style="font-size: 20px;">회원가입&nbsp;</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="window">
       <div class="logo-container">
         <img src="/img/logo1.png" alt="로고 이미지">
        </div>
        <br>
       <div class="form-wrapper">
        <div class="form signUp">
           <div class="form-header">
             <div class="show-signUp">로그인</div>
           </div>
           <div class="form-elements">
             <div class="form-arrow">
               아이디: <input type="text" name="userID" placeholder="아이디를 입력하세요"><br>
             </div>
             <div class="form-arrow">
              비밀번호: <input type="password" name="userPassword"  placeholder="비밀번호를 입력하세요"><br>
             </div>
             <div class="form-arrow">
                <button type="submit" value="로그인">로그인</button>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
</form>
</body>
</html>