<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <!--<script src="login.js" defer></script>-->
</head>

<body>
    <!--/memeber/login 으로 post요청을 보낼 폼을 정의함-->
    <form action="/member/login" method="post">
        <div class="menu" >
            <nav class="clearfix">
              <ul class="clearfix">
                <li><a href="#">세탁 예약 시스템</a></li>
                <li><a href="/member/save">회원가입</a></li>
            </ul>
            <a id="pull" href="#"></a>
          </nav>
        </div>
        <br><br>
    <div class="window">
       <div class="logo-container">
         <img src="/img/logo1.png" alt="로고 이미지">
        </div>
       <div class="form-wrapper">
        <div class="form signIn">
           <div class="form-header">
             <div class="show-signin">로그인</div>
           </div>
           <div class="form-elements">
             <div class="form-arrow">
                아이디: <input type="text" name="userID" placeholder="아이디를 입력하세요"><br>
             </div>
             <div class="form-arrow">
                비밀번호: <input type="password" name="userPassword" placeholder="비밀번호를 입력하세요"><br>
             </div>
             <div class="form-arrow">
                <button type="submit" value="로그인">로그인</button>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>

</body>
</html>