

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        <title>Dankik</title>
    </head>
    <body>
        <div class="wrap">
            <div class="intro">
                <div class="menu">
                    <nav class="clearfix">
                        <ul class="clearfix">
                            <li style="float: left;">
                                <br>
                                &nbsp;<img src="/img/logo1.png" width="80px" height="80px">
                            </li>
                            <br>
                            <br>
                            <span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li class="one" style="text-align: center;">세탁 예약 시스템</li>
                            </span>
                            <li class="logout" style="float: right;"><a href="/member/logout" style="font-size: 20px;">로그아웃&nbsp;</a></li>
                            <li class="hello" style="float: right;" th:text="${session.loginID + '님, 반갑습니다'}"></li>                    
                        </ul>&nbsp;&nbsp;&nbsp;
                    </nav>
                </div>
            </div>

                <div class="intro_text">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1>Dankik</h1>
                    <h4 class="contents1">기숙사를 선택해주세요!</h4>
                </div>
           
            <ul class="amount">
                <li><div>
                    <br>
                    <br>
                    <a href="/member/jib_gender">집현재</a><br>
                    <br>
                    <a href="/member/jib_gender"><img src="https://domi.dankook.ac.kr/images/Khostel/templates/B0001/sub/1_0301.gif" width="280px" height="280px" margin="100px"></a><br>
                </div></li>
                <li><div>
                    <br>
                    <br>
                    <a href="/member/woongbi_gender">웅비홀</a><br>
                    <br>
                    <a href="/member/woongbi_gender"><img src="https://domi.dankook.ac.kr/images/Khostel/templates/B0002/sub/2_0301.gif" width="280px" height="280px" margin="100px"></a><br>
                </div></li>
                <li><div>
                    <br>
                    <br>
                    <a href="/member/jin_gender">진리관</a><br>
                    <br>
                    <a href="/member/jin_gender"><img src="https://domi.dankook.ac.kr/images/Khostel/templates/B0006/sub/0103/3_0301.jpg" width="280px" height="280px" margin="100px"></a><br>
                </div></li>
            </ul>
        </div>
    </body>
</html>