<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>save</title>
    <link rel="stylesheet" href="/css/save.css">
    <!--<script src="login.js" defer></script>-->
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
  		integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  		crossorigin="anonymous">
    </script>
</head>

<body>
    <!--/memeber/login 으로 post요청을 보낼 폼을 정의함-->
    <form action="/member/save" method="post">
      <div class="intro">
        <div class="menu">
            <nav class="clearfix">
                <ul class="clearfix">
                    <li style="float: left;"><br>
                        &nbsp;<img src="/img/logo1.png" width="80px" height="80px">
                    </li>
                    <br>
                    <br>
                    <span style="text-shadow: -1px 0 #000000, 0 1px #24199c, 1px 0 #24199c, 0 -1px #24199c;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li class="one" style="text-align: center;"><a href="/member/home">메인페이지로 돌아가기</a></li>
                    </span>
                    <li class="two" style="float: right;"><a href="/member/login" style="font-size: 20px;">로그인&nbsp;</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="window">
       <div class="logo-container">
         <img src="/img/logo1.png" alt="로고 이미지">
        </div>
        <br>
       <div class="form-wrapper">
        <div class="form signUp">
           <div class="form-header">
             <div class="show-signUp">회원가입</div>
           </div>
           <div class="form-elements">
             <div class="form-arrow">
               아이디: <input type="text" name="userID" placeholder="아이디를 입력하세요"  id="userID" onkeyup="idcheck()"><br>
               <span id="check-result"></span> 
             </div>
             <div class="form-arrow">
              비밀번호: <input type="password" name="userPassword"  placeholder="비밀번호를 입력하세요"><br>
             </div>
             <div class="form-arrow">
              핸드폰번호: <input type="phonenumber" name="userName" placeholder="핸드폰 번호를 입력하세요"><br>
           </div>
           <div class="form-arrow">
             이름: <input type="name" name="userPhonenumber" placeholder="이름을 입력하세요"><br>
         </div>
             <div class="form-arrow">
                <button type="submit" value="회원가입">회원가입</button>
             </div>
           </div>
         </div>
       </div>
     </div>
    </div>
</form>
</body>
<script th:inline="javascript">
	const idcheck = () => {
	  const ID = document.getElementById("userID").value;
	  const checkResult = document.getElementById("check-result");
	  console.log("입력값: ", ID);
	  $.ajax({
		 type: "post",
	     url: "/member/id-check",
	     data: {
	    	 "userID" : ID
	     },
	     success: function(res) {
	    	 console.log("요청성공", res);
	    	 if (res == "Ok") {
	    		 console.log("사용 가능한 아이디");
	    		 checkResult.style.color="green";
	    		 checkResult.innerHTML = "사용 가능한 아이디입니다.";
	    	 } else {
	    		 console.log("이미 사용 중인 아이디");
	    		 checkResult.style.color="red";
	    		 checkResult.innerHTML = "이미 사용 중인 아이디입니다.";
	    	 }
	    	  
	     },
	     error: function(err) {
	    	 console.log("에러발생", err);
	    	 
	     }
	  });
	  }
</script>
</html>
